@charset "utf-8";
/* CSS Document */
@font-face {
    font-family:"张海山锐线体简";
	src: url(../../font/张海山锐线体简.woff) format('woff');}
.title{
	font-size:60px;
	font-weight: 500;
	font-family: arvo;
	margin-top: -60px;
	color:aliceblue;
	margin-left: 60px;
}
.title2{
	font-size:60px;
	font-weight: 500;
	font-family: arvo;
	margin-top: -100px;
	color:aliceblue;
	margin-left: 60px;
}
ul{
	margin-left:50px;
	list-style-image:url(../images/菱形.png);
}
ul li{
	color:aliceblue;
	font-size:25px;
	line-height: 2.0em;
	font-family:"张海山锐线体简";
	
	
	letter-spacing: 5px;
	
}
.dot1{
	border-radius: 100%;
	width:6px;
	height:6px;
	background:white;
	position: relative;
	left:130px;
	top:1.5px;
}
.dot2{
	border-radius: 100%;
	width:6px;
	height:6px;
	background:white;
	position: relative;
	left:150px;
	top:-4px;
}
.dot3{
	border-radius: 100%;
	width:6px;
	height:6px;
	background:white;
	position: relative;
	left:170px;
	top:-10px;
}